* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(222, 201, 241);

}

div {
    width: 400px;
    height: 500px;
    border: 2px solid #777777;
    background-color: blueviolet;
    padding: 40px;

}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(196, 221, 213);
    margin-top:100px;
    cursor: pointer;
    height: 50px;
    width: 80%;
    border-radius: 30px;
    color: black;
    font-size: 20px;
    border: none;
  
}

input {

    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 230, 227);
    margin-top: 80px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    text-align: center;
     border: none;
    
}

p{
    color: beige;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}